@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #212121;
  color: #313131;
  font-family: 'Montserrat';
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background-img {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1465056836041-7f43ac27dcb5?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(10px);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200px 0;
  gap: 32px;
}

h1 {
  margin-bottom: 16px;
}

#input {
  width: 320px;
  padding: 8px 16px;
  border-radius: 8px;
  border-style: none;
}

.weather-container #location {
  font-size: 48px;
}

.time-date-container {
  background-color: #dedede;
  opacity: 0.75;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
}



























/* .background-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?q=80&w=3870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
} */

/* .content {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
} */
